@model SchoolManagementSystem.Models.Student

<h2>Add Qualifications for @Model.FirstName @Model.LastName</h2>

<form asp-action="AddQualification" asp-route-id="@Model.StudentId" method="post">
    <input type="hidden" asp-for="StudentId" />

    <div>
        <label>Course Name:</label>
        <input type="text" name="qualifications[0].CourseName" />
    </div>
    <div>
        <label>Percentage:</label>
        <input type="number" name="qualifications[0].Percentage" />
    </div>
    <div>
        <label>Year of Passing:</label>
        <input type="number" name="qualifications[0].YearOfPassing" />
    </div>
    <!-- You can add more input fields if you want to submit multiple qualifications -->

    <input type="submit" value="Add Qualification" />
</form>
